
/*responsive for extra large laptop*/
@media screen 
  and (min-device-width: 1201px) 
  /*and (max-device-width: 1600px)*/ 
  and (-webkit-min-device-pixel-ratio: 1) {

.logo img {
    height: 61px;
    margin: 159px 13px 14px 45px;
}
.menuicon img {
    height: 36px;
    margin: -118px -2px 7px 1297px;
}
img.dots1 {
    width: 62px;
    margin: 80px 0px 42px 93px;
}
.first h4 {
    color: #F8931F;
    font-size: 17px;
    margin: -10px 11px 36px 93px;
}
.first h2 {
    color: #ffff;
    font-size: 42px;
    font-family: poppins;
    margin: -11px -1px 30px 93px;
}

.exploremorebt {
    
    background: #F8931F;
    color: #ffff;
    border: none;
    width: 171px;
    height: 50px;
    border-radius: 15px;
    margin: 0px 0px 0px 93px;
}
.first h3{
    color: #ffff;
    font-size: 21px;
    font-weight: 300;
    font-family: poppins;
    margin: -11px -1px 35px 93px;
}
img.sec1image {
    height: 298px;
    margin: -127px 26px 14px 67px;
}

img.sec1image1 {
    height: 251px;
    margin: 239px -6px -207px 112px;
}
}

/*responsive for small laptop screen*/
@media screen 
  and (min-device-width: 991px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1){

 .logo img {
    height: 61px;
    margin: 154px 13px 14px 36px;
}

img.dots1 {
    width: 58px;
    margin: 94px 0px 42px 85px;
}

.first h4 {
    color: #F8931F;
    font-size: 20px;
    margin: 0px 11px 36px 85px;
}
.first h2 {
    color: #ffff;
    font-size: 39px;
    font-family: poppins;
    margin: -11px -1px 36px 85px;
}
.first h3 {
    color: #ffff;
    font-size: 17px;
    font-weight: 200;
    font-family: poppins;
    margin: -16px -1px 36px 85px;
}
.exploremorebt {
    background: #F8931F;
    color: #ffff;
    border: none;
    width: 171px;
    height: 50px;
    border-radius: 15px;
    margin: -20px 0px 0px 85px;
}
img.sec1image1 {
    height: 431px;
    margin: 73px -6px -207px 112px;
}
img.sec1image {
    height: 273px;
    margin: -98px 26px 14px 46px;
}
img.sec1image1 {
    height: 212px;
    margin: 264px -6px -207px 112px;
}
}
 /*responsive for small laptop*/
@media screen 
  and (min-device-width: 767px) 
  and (max-device-width: 990px) 
  and (-webkit-min-device-pixel-ratio: 1){

 .logo img {
    height: 61px;
    margin: 157px 13px 14px 40px;
}
img.dots1 {
    width: 54px;
    margin: 78px 0px 42px 83px;
}

.first h4 {
    color: #F8931F;
    font-size: 15px;
    margin: -8px 11px 36px 83px;
}

.first h2 {
    color: #ffff;
    font-size: 31px;
    LINE-HEIGHT: initial;
    font-family: poppins;
    margin: -11px -1px 19px 83px;
}
.first h3 {
    color: #ffff;
    font-size: 16px;
    font-weight: 200;
    LINE-HEIGHT: initial;
    font-family: poppins;
    margin: -7px -1px 36px 83px;
}

.exploremorebt {
    background: #F8931F;
    color: #ffff;
    border: none;
    width: 171px;
    height: 50px;
    border-radius: 15px;
    margin: -14px 0px 0px 83px;
}
img.sec1image1 {
    height: 169px;
    margin: 265px -6px -217px 70px;
}

img.sec1image {
    height: 210px;
    margin: -12px 26px 14px 27px;
}
}

 /*responsive for tablet*/
@media screen 
  and (min-device-width: 581px) 
  and (max-device-width: 766px) 
  and (-webkit-min-device-pixel-ratio: 1){

 img.dots1 {
    width: 54px;
    margin: 47px 0px 42px 50px;
}
.first h4 {
    color: #F8931F;
    font-size: 15px;
    margin: -8px 11px 36px 50px;
}

.first h2 {
    color: #ffff;
    font-size: 31px;
    LINE-HEIGHT: initial;
    font-family: poppins;
    margin: -11px -1px 19px 50px;
}
.first h3 {
    color: #ffff;
    font-size: 16px;
    font-weight: 200;
    LINE-HEIGHT: initial;
    font-family: poppins;
    margin: -7px -1px 36px 50px;
}

.exploremorebt {
    background: #F8931F;
    color: #ffff;
    border: none;
    width: 171px;
    height: 50px;
    border-radius: 15px;
    margin: -14px 0px 0px 50px;
}
img.sec1image1 {
    height: 215px;
    margin: 49px -6px -386px 231px;
}

img.sec1image {
    height: 259px;
    margin: 38px 26px 14px 198px;
}
}


/*LARGE MOBILE PHONE*/
@media screen 
  and (min-device-width: 436px) 
  and (max-device-width: 580px) 
  and (-webkit-min-device-pixel-ratio: 1){

.logo img {
    height: 36px;
    margin: 159px 13px 14px 21px;
}
img.dots1 {
    width: 48px;
    margin: 47px 0px 42px 32px;
}
.first h4 {
    color: #F8931F;
    font-size: 15px;
    margin: -10px 11px 36px 32px;
}
.first h2 {
    color: #ffff;
    font-size: 31px;
    font-family: poppins;
    margin: -11px -1px 36px 32px;
}
.first h3 {
    color: #ffff;
    font-size: 15px;
    LINE-HEIGHT: initial;
    font-weight: 200;
    font-family: poppins;
    margin: -28px -1px 36px 32px;
}
.exploremorebt {
    background: #F8931F;
    color: #ffff;
    border: none;
    width: 157px;
    height: 38px;
    border-radius: 15px;
    margin: -22px 0px 0px 32px;
}
img.sec1image {
    height: 205px;
    margin: 28px 26px 14px 73px;
}
img.sec1image1 {
    height: 171px;
    margin: 71px -6px -298px 109px;
}