/*navbar css*/
 .logo img{
    height: 61px;
    margin:8px 0px 0px 0px;
}
.searchicon img {
    height: 41px;
    margin: 8px 17px 0px 1365px;
}


.menuicon img {
    height: 32px;
    margin: 8px 17px 9px 0px;
}

/*navbar end*/

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
/** {
  box-sizing: border-box;
  user-select: none;
}*/

a {
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  background: black;
  
}



header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  z-index: 3;
  height: 7em;
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(0.66rem, 2vw, 1rem);
  letter-spacing: 0.5em;
}

section {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}

section .outer, section .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

section .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}

section .bg h2 {
  z-index: 2;
}

section .bg .clip-text {
  overflow: hidden;
}

.first .bg {
  background-color: #0059A3;
}
img.dots1 {
    height: 10 px;
    width: 75px;
    margin: 3px 12px 20px 106px;
}
.first h4 {
    color: #F8931F;
    font-size: 20px;
    margin: 11px 11px 36px 106px;
}
.first h2 {
    color: #ffff;
    font-size: 50px;
    font-family: poppins;
    margin: -11px -1px 36px 105px;
}

.exploremorebt {
    
    background: #F8931F;
    color: #ffff;
    border: none;
    width: 171px;
    height: 50px;
    border-radius: 15px;
    margin: 0px 0px 0px 110px;
}
.first h3{
    color: #ffff;
    font-size: 25px;
    font-weight: 300;
    font-family: poppins;
    margin: -11px -1px 36px 105px;
}
img.sec1image{
    height: 509px;
    margin: -189px 26px 14px 67px;
}

img.sec1image1 {
    height: 437px;
    margin: -20px 16px -203px 108px;
}
.second .bg {
  background-color: black;
}

.third .bg {
  background-color: red;
}

.fourth .bg {
  background-color: yellow;
}

.fifth .bg {
  background-color: red;
}
